[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytricia = "*"
fire = "*"
PySnooper = "*"
minirdapc = {git = "https://github.com/cm2c-internet-measurements/minirdapc.git"}

[requires]
python_version = "3.7"
